/* minimal CSS reset

source: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset
*/

/* Lato font ≧◉◡◉≦*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}



body, h1, h2, h3, h4, h5, h6, p, ol, ul{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a, button{
  text-decoration: none;
}

/*-- style guide for the desing system --*/

/* resets browser defaults */
@import url(./reset.css);

/* css variables */

:root {

  /* font weight */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --black: 900;

  /* margin */
  --margin-xs: 8px;
  --margin-s: 16px;
  --margin-m: 24px;
  --margin-l: 32px;
  --margin-xl: 40px;
  --margin-xxl: 64px;

  /* padding */
  --padding-xs: 8px;
  --padding-s: 16px;
  --padding-m: 24px;
  --padding-l: 32px;
  --padding-xl: 40px;
  --padding-xxl: 64px;

  /* border radius */
  --radius-s: 5px;
  --radius-m: 10px;
  --radius-l: 15px;
  --radius-full: 999px;

  /* color */
  /* ever feel stuck? go to https://material.io/design/color/the-color-system.html#tools-for-picking-colors */

  --primary: #6002EE;
  --primary-100: #d8c5f9;
  --primary-900: #0000D6;

  --secondary: #d602ee;

  --info: #0290EE;
  --info-100: #bfdff9;
  --info-900: #00419D;

  --success: #41C300;
  --success-200: #d1f7a3;
  --success-1000: #006f00;

  --warning: #FF8D00;
  --warning-100: #FFDDB0;
  --warning-900: #E54304;

  /* 
  https://www.canva.com/colors/color-wheel/
  (tetradic)
  */
  --danger: #EE021A;
  --danger-100: #FFC8CD;
  --danger-900: #C20000;

  /* niche colours here */
  --background-grey: #efefef;
  --input-background-grey: #D9D9D9;
  --grey: #808080;
  --grey-800: #4C4C4C;
  --button-shadow-black: rgba(0,0,0,0.5);
  --list-shadow-black: rgba(0,0,0,0.12);

  /* frequently used borders */
  --input-border: 2px solid;

  /* shadows used */
  --button-shadow: 2px 2px 5px var(--button-shadow-black);
  /* https://codepen.io/sdthornton/pen/wBZdXq */
  --card-shadow: 0 1px 3px var(--list-shadow-black), 0 1px 2px var(--list-shadow-black);
  /* yup card and list use the same shadow */
  --list-shadow: 0 1px 3px var(--list-shadow-black), 0 1px 2px var(--list-shadow-black);
}

/* background */
body{
    background: var(--background-grey);
}

/* spacing(margin) */
.margin-xs{
    margin: var(--margin-xs);
}

.margin-s{
    margin: var(--margin-s);
}

.margin-m{
    margin: var(--margin-m);
}

.margin-l{
    margin: var(--margin-l);
}

.margin-xl{
    margin: var(--margin-xl);
}

.margin-xxl{
    margin: var(--margin-xll);
}

/* spacing(padding) */
.padding-xs{
    padding: var(--padding-xs);
}

.padding-s{
    padding: var(--padding-s);
}

.padding-m{
    padding: var(--padding-m);
}

.padding-l{
    padding: var(--padding-l);
}

.padding-xl{
    padding: var(--padding-xl);
}

.padding-xxl{
    padding: var(--padding-xxl);
}

/* border-radius */
.border-radius-s{
    border-radius: var(--radius-s);
}

.border-radius-m{
    border-radius: var(--radius-m);
}

.border-radius-l{
    border-radius: var(--radius-l);
}

.border-radius-full{
    border-radius: var(--radius-full);
}

/* TYPOGRAPHY */

/* Type Scale */
.h1{
    font-size: 6rem;
    font-weight: var(--light);
    letter-spacing: -1.5px;
}

.h2{
    font-size: 3.75rem;
    font-weight: var(--light);
    letter-spacing: 0.5px;
}

.h3{
    font-size: 3rem;
    font-weight: var(--regular);
    letter-spacing: 0px;
}

.h4{
    font-size: 2.125rem;
    font-weight: var(--regular);
    letter-spacing: 0.25px;
}

.h5{
    font-size: 1.5rem;
    font-weight: var(--regular);
    letter-spacing: 0px;
}

.h6{
    font-size: 1.25rem;
    font-weight: var(--medium);
    letter-spacing: 0.25px;    
}

.sub-title1{
    font-size: 1rem;
    font-weight: var(--regular);
    letter-spacing: 0.15px;
}

.sub-title2{
    font-size: 0.875rem;
    font-weight: var(--medium);
    letter-spacing: 0.1px;
}

.sub-title-grey{
    font-size: 0.875rem;
    font-weight: var(--medium);
    letter-spacing: 0.1px;
    color: var(--grey-800);
}

.paragraph1{
    font-size: 1rem;
    font-weight: var(--regular);
    letter-spacing: 0.5px;    
}

.paragraph2{
    font-size: 0.875rem;
    font-weight: var(--regular);
    letter-spacing: 0.25px;    
}

.center-text{
    text-align: center;
}

.btn{
    font-size: 0.875rem;
    font-weight: var(--medium);
    text-transform: uppercase;
    letter-spacing: 1.25px; 
}


/* ALERT */

/* default alert properties */
.alert{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8em;

    background: var(--primary-100);
    border-radius: var(--radius-s);
    width: auto;
    padding: var(--padding-s);
    margin: var(--margin-s);

    color: var(--primary-900);
    font-size: 0.75rem;
    font-weight: var(--regular);
    letter-spacing: 0.25px;  
}

/* alert actions shift to right */
.alert-action{
    margin-left: auto;
}

/* information alert */
.alert-info{
    background: var(--info-100);
    color: var(--info-900);
}

/* success alert */
.alert-success{
    background: var(--success-200);
    color: var(--success-1000);
}

/* warning alert */
.alert-warning{
    background: var(--warning-100);
    color: var(--warning-900);
}

/* danger alert sheeeesh */
.alert-danger{
    background: var(--danger-100);
    color: var(--danger-900);
}


/* AVATAR */

/*-- Default Avatar --*/
.avatar{
    width: 3.125rem;
    height: 3.125rem;
    margin: var(--margin-s);
    border-radius: var(--radius-full);
}

/* sizes for default avatar */
/* small default avatar */

.avatar-s{
    width: 1.875rem;
    height: 1.875rem;
}

/* medium default avatar */

.avatar-m{
    width: 3.125rem;
    height: 3.125rem;
}

/* large default avatar */

.avatar-l{
    width: 4.5rem;
    height: 4.5rem;
}

/* extra large default avatar */

.avatar-xl{
    width: 6rem;
    height: 6rem;
}

/* idk extra extra large default avatar */

.avatar-xxl{
    width: 8rem;
    height: 8rem;
}

/*-- Circle Avatar --*/
.avatar-circle{
    width: 3.125rem;
    height: 3.125rem;
}

/* sizes for circle avatar */
/* small circle avatar */

.avatar-circle-s{
    width: 1.875rem;
    height: 1.875rem;
}

/* medium circle avatar */

.avatar-circle-m{
    width: 3.125rem;
    height: 3.125rem;
}

/* large circle avatar */

.avatar-circle-l{
    width: 4.5rem;
    height: 4.5rem;
}

/* extra large circle avatar */

.avatar-circle-xl{
    width: 6rem;
    height: 6rem;
}

/* idk extra extra large circle avatar */

.avatar-circle-xxl{
    width: 8rem;
    height: 8rem;
}

/*-- Square Avatar --*/
.avatar-square{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: var(--radius-m);
}

/* sizes for square avatar */
/* small square avatar */

.avatar-square-s{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: var(--radius-m);
}

/* medium square avatar */

.avatar-square-m{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: var(--radius-m);
}

/* large square avatar */

.avatar-square-l{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: var(--radius-m);
}

/* extra large square avatar */

.avatar-square-xl{
    width: 6rem;
    height: 6rem;
    border-radius: var(--radius-m);
}

/* idk extra extra large square avatar */

.avatar-square-xxl{
    width: 8rem;
    height: 8rem;
    border-radius: var(--radius-m);
}

/* BADGE */

/* common style */
.badge {
    background: var(--primary);
    color: var(--background-grey);
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: var(--bold);
    border-radius: 0.25rem;
    line-height: 1;
    vertical-align: baseline;
    text-align: center;
}

/* badges depicting specific status */

.badge-primary{
    background: var(--primary);
}

.badge-secondary{
    background: var(--secondary);
}

.badge-success{
    background: var(--success);
}

.badge-warning{
    background: var(--warning);
}

.badge-danger{
    background: var(--danger);
}

/* BUTTON */

/*-- Default Button --*/
/* default button style */
.btn, .btn[disabled=disabled], .btn:disabled{
    margin: var(--margin-xs);
    padding: var(--padding-xs);

    text-transform: uppercase;

    border: 1px solid var(--primary);
    border-radius: 4px;

    color: var(--background-grey);
    background: var(--primary);

    filter: drop-shadow(var(--button-shadow));

    cursor: pointer;
}

/* default button hover effect */
.btn:hover{
    background: var(--background-grey);
    color: var(--primary);
    border: 1px solid var(--primary);
}

/* default button click effect */
.btn:active{
    background: var(--primary);
    color: var(--background-grey);
    border: 1px solid var(--primary);
}

/*-- Primary Button(same as default) --*/
/* primart button style */
.btn-primary{
    background: var(--primary);
}

/*-- Secondary Button --*/
/* secondary button style */
.btn-secondary{
    background: var(--secondary);
    border: 1px solid var(--secondary);
}

/* secondary button hover effect */
.btn-secondary:hover{
    background: var(--background-grey);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

/* secondary button click effect */
.btn-secondary:active{
    background: var(--secondary);
    color: var(--background-grey);
    border: 1px solid var(--secondary);
}

/*-- Success Button(real deal ngl) --*/
/* success button style */
.btn-success{
    background: var(--success);
    border: 1px solid var(--success);
}

/* success button hover effect */
.btn-success:hover{
    background: var(--background-grey);
    color: var(--success);
    border: 1px solid var(--success);
}

/* success button click effect */
.btn-success:active{
    background: var(--success);
    color: var(--background-grey);
    border: 1px solid var(--success);
}

/*-- Danger Button --*/
/* danger button style */
.btn-danger{
    background: var(--danger);
    border: 1px solid var(--danger);
}

/* danger button hover effect */
.btn-danger:hover{
    background: var(--background-grey);
    color: var(--danger);
    border: 1px solid var(--danger);
}

/* danger button click effect */
.btn-danger:active{
    background: var(--danger);
    color: var(--background-grey);
    border: 1px solid var(--danger);
}

/*-- Disabled Buttons --*/

/* default */
.btn[disabled=disabled], .btn:disabled{
    background: var(--primary);
    color: var(--grey);
    cursor: no-drop;
}

.btn[disabled=disabled]:hover, .btn:disabled:hover{
    background: var(--primary);
    color: var(--primary);
    background: var(--grey);
}

/* primary */
.btn-primary[disabled=disabled], .btn-primary:disabled{
    background: var(--primary);
    color: var(--grey);
}

.btn-primary[disabled=disabled]:hover, .btn-primary:disabled:hover{
    background: var(--primary);
    color: var(--primary);
    background: var(--grey);
}

/* secondary */
.btn-secondary[disabled=disabled], .btn-secondary:disabled{
    background: var(--secondary);
    /* darker grey for contrast */
    color: var(--grey-800);
    /* need to rewrite the below statement for every type of button */
    border: 1px solid var(--secondary);
}

.btn-secondary[disabled=disabled]:hover, .btn-secondary:disabled:hover{
    color: var(--secondary);
    background: var(--grey);
}

/* success */
.btn-success[disabled=disabled], .btn-success:disabled{
    background: var(--success);
    color: var(--grey);
    border: 1px solid var(--success);
}

.btn-success[disabled=disabled]:hover, .btn-success:disabled:hover{
    color: var(--success);
    background: var(--grey);
}

/* danger */
.btn-danger[disabled=disabled], .btn-danger:disabled{
    background: var(--danger);
    color: var(--grey);
    border: 1px solid var(--danger);
}

.btn-danger[disabled=disabled]:hover, .btn-danger:disabled:hover{
    background: var();
    color: var(--danger);
    background: var(--grey);
}

/* CARD */

/*-- Default Card --*/
.card{
    margin: var(--margin-xs);
    display: grid;
    justify-content: center;
    /* default card must have all 4 sections */
    grid-template-rows: [head]5em [img]10em [text]4em [button]3em;
    box-shadow: var(--card-shadow);
    border-radius: var(--radius-s);
}

/* default card header style */

.card-header{
    justify-self: start;
    padding: 1em;
}

.card-title{
    /* typography same as .h4(check style-guide) */
    font-size: 2.125rem;
    font-weight: var(--regular);
    letter-spacing: 0.25px;
}

.card-subtitle{
    /* typography same as .sub-title2(check style-guide) */
    font-size: 0.875rem;
    font-weight: var(--medium);
    letter-spacing: 0.1px;
}

/* default card image style */

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* default card content style */

.card-content{
    padding: 1em;
    /* typography same as .paragraph2(check style-guide) */
    font-size: 0.875rem;
    font-weight: var(--regular);
    letter-spacing: 0.25px;  
}

/* default card action style */

.card-action{
    margin-left: auto;
}

/*-- Text-only Card --*/

.text-card{
    grid-template-rows: [head]5em [text]5em;
}

/*-- Horizontal Card --*/

/* defining a horizontal grid area */
.horizontal-card{
    grid-template-rows: none;
    grid-template-areas: 
    "image image head head"
    "image image content content"
    "image image action action"
    ; 
}

/* naming each section */
.horizontal-card .card-header{
    padding-bottom: 0.5rem;
    grid-area: head;
}

.horizontal-card .card-img{
    grid-area: image;
}

.horizontal-card .card-content{
    grid-area: content;
}

.horizontal-card .card-action{
    grid-area: action;
}

/*-- Card with image on top(the dog with the butter on it) --*/

.image-head-card{
    grid-template-rows: [img]10em [head]5em  [text]4em [button]3em;
}

.image-head-card .card-img img{
    border-radius: var(--radius-s) var(--radius-s) 0 0;
}

/*-- Card with Text Overlay --*/

.overlay-card .card-img{
    /* grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; 
    ===
    grid-area: 1 / 1 / 3 / 2;    
    */
    grid-area: 1 / 1 / 3 / 2;
}

.overlay-card .card-header{
    color: var(--background-grey);
    align-self: end;
    grid-area: 1 / 1 / 3 / 2;
    z-index: 1;
}

.overlay-card .card-img img{
    border-radius: var(--radius-s) var(--radius-s) 0 0;
}

/* IMAGE */

/*-- Responsive Image --*/
/* div will take dimensions of parent */
.resp-img{
    width: auto;
    height: auto;
}

/* image will scale, but will not go beyond original width */
.resp-img img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*-- Round Responsive Image --*/
.round-resp-img img{
    /* image width and height should be same to get a circle */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

/* INPUT */

/*-- Default Input(employs primary color) --*/
/* .input: div that wraps input and label */
.input{
    margin: var(--margin-xs);
    display: grid;
    grid-template-rows: [label]0.8fr [input]1fr;
}

/* default text style */
.input-data{
    padding: var(--padding-xs) var(--padding-xs);
    font-size: 1.2rem; 
    border: var(--input-border) grey;
    border-radius: var(--radius-s);
    grid-area: 2 / 1 / 3 / 2;
}

/* default label style */
.input-label{
    font-weight: var(--semi-bold);
}

/* default input focus */
.input-data:focus {
    outline: none;
    border: var(--input-border) var(--primary);
}

/* default label focus */
.input:focus-within label{
    color: var(--primary);
}

/* invalid input style */
.input-data:invalid:focus{
    color: var(--danger);
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") white no-repeat 95% 50%;
}

/* TEXTAREA */

/* text area layout */
.text-area{
    margin: var(--margin-xs);
    display: grid;
    grid-template-rows: [label]0.2fr [textarea]1fr;
}

/* text area input */
.textarea-data{
    padding: var(--padding-xs);
    border: var(--input-border) var(--grey);
    border-radius: var(--radius-s);
}

/* text area label */
.textarea-label{
    font-weight: var(--semi-bold);
}

/* text area focus */
.textarea-data:focus {
    outline: none;
    border: var(--input-border) var(--primary);
}

/* text area focus for label */
.text-area:focus-within label{
    color: var(--primary);
}

/* LIST */

/*-- Spaced List(normal lists) --*/
/* common spacing */
.list{
    margin: var(--margin-xs);
    padding: var(--padding-s);
}

.list-item{
    padding: var(--padding-s);
}

/*-- Stacked List --*/
/* simply added some border and shadow to spaced list */
.stacked-list>.list-item{
    box-shadow: var(--list-shadow);
}

/* only first and last child item should get a border radius */
.stacked-list>.list-item:first-child{
    border-radius: var(--radius-s) var(--radius-s) 0 0;
}

.stacked-list>.list-item:last-child{
    border-radius:0 0 var(--radius-s) var(--radius-s);
}

/* List with Options */
/* making every list item of option list a flexbox */
.option-list>.list-item{
    display: flex;
}

/* shifting list option(s) to right */
.list-item-option{
    display: inline-block;
    margin-left: auto;
}

/* NAVBAR */

.nav-wrapper{
    background: var(--primary);
    color: var(--background-grey);
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding-s) var(--padding-l) var(--padding-s) var(--padding-l);
    align-items: center;
    position: fixed;
    width: 100vw;
}

.nav-list{
    margin-left: auto;
    margin-right: var(--margin-xs);
    display: flex;
    column-gap: 3rem;
}

.nav-item{
     padding: var(--padding-xs);
}