@import "./peace.css";

body{
    display: grid;
    grid-template-columns: [sidebar]1fr [content]6fr;
}

.sidebar{
    position: static;
    background: #EFE5FD;
    border-right: 1px solid var(--primary);
}

.side-logo{
    background: var(--primary);
    color: var(--secondary);
    font-weight: var(--bold);
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.side-logo img{
    height: 100%;
}

.side-item{
    font-weight: var(--semi-bold);
    font-size: 0.9rem;
    color: var(--primary-900);
    border-bottom: 1px solid var(--primary);
    cursor: pointer;
}

.side-item:hover{
    background: var(--primary);
    color: var(--secondary);
}

article{
    padding: 3em;
    color: var(--primary-900);

}